.input-box {
    display: block;
    border-radius: 0.7em;
    border: none;
    width: 22em;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
}

.heading-text {
    text-align: left;
}

.input-box__border {
    border: 2px solid #1bbc9b;
}

.btn-selected {
    background-color: #1bbc9b;
    color: black;
}

.btn-gender {
    padding: .7em;
    margin: 1em;
    border: none;
}

.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    font-size: 1.6rem;
}

.btn--white {
    background-color: #fff;
    color: #1bbc9b;
}