.header-signup {
    height: 100vh;
    position: relative;
    padding: 30em;
}

.header-signup__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}