.login {
    background-color: #1bbc9b;
}

.header {
    height: 100vh;
    position: relative;
}

.header__logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2rem;
}

.heading-primary--sub {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1rem;
}

.header__text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}