.input-box {
    display: block;
    border-radius: 0.7em;
    border: none;
    width: 22em;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
}

.login-btn {
    width: 18em;
    font-size: 1.2rem;
    display: block;
    border-radius: 0.7em;
    border: none;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
}

.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    font-size: 1.6rem;
}

.btn--white {
    background-color: #fff;
    color: #1bbc9b;
}