.card {
    box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 25em;
    margin-bottom: 2rem;
}

.card:hover {
    box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0.2em 1em;
}